<table class="table table-striped">
    <tbody>
    <!-- cambios por la directiva
    <tr ng-repeat="band in bands | orderBy: ['name']">
        <td>
            <details>
                <summary>{{::band.name}}</summary>
                <h4>Albums</h4>
                <hr>
                <span ng-repeat="album in band.albums">{{::album.title}} - ({{album.year}})<br/></span>
            </details>
        </td>
        <td>{{::band.origin}}</td>
        <td><span ng-repeat="member in band.members">{{::member.name}} ({{::member.instruments | instruments}})<br/></span></td>
        <td><button type="button" ng-class="{'btn btn-primary active' : dataFavorites[band.name]}" ng-click="toggleBandsFavorite(band.name)">&#x2605</button></td>
    </tr>
    -->

    <tr ng-repeat="band in bands | orderBy: ['name']" band-item
        dato="band"
        favorite="dataFavorites">
    </tr>

    </tbody>
</table>